html,body {
	margin: 0;
	padding: 0;
	background-color:#FDFA74;
}

#root {
	
	width:80%;
	height:100%;
	margin:2% auto;
	/*border: 1px solid black;*/
	box-shadow: 1px 1px 20px gray;
	background-color:white;
}

.header {

	font-family: 'Coming Soon', cursive;
	/*font-family: 'Shadows Into Light Two', cursive; */

	text-align: center;
	font-size: 200%;
	font-weight:600;
	padding-top:2%;
	padding-left:4%;
	/* font-family: 'Cookie', cursive; -n
	font-family: 'Indie Flower', cursive; -n
	font-family: 'Sacramento', cursive; -n 
	font-family: 'Cabin Sketch', cursive; -n 
	font-family: 'Tangerine', cursive; -n 
	font-family: 'Fredericka the Great', cursive; -n */	
}

.navBar {
	list-style: none;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 2%;
}

.navBar li {
	display:inline;
}

.navBar li a {
	text-decoration: none;
	padding-left:2%;
	padding-right:2%;
	color:black;
	font-size:130%;
}

.profileSection {
	width: 40%;
    border-right: 1px solid lightgray;
    margin-top: 1%;
    margin-bottom: 2%;
}

.profileSection img {
	padding: 10%;
    width: 80%;
}

.profileSection section {
	padding: 0 10%;
	font-size:110%;
}

.profileSection section p {
	margin: 0;
}