.gallery {
	width: 80%;
    margin: 5% auto;
}

.galleryList {
	width: 250px;
	height: 250px;
    border: 10px solid white;
    box-shadow: 1px 1px 40px black;
    object-fit: cover;
    opacity: 0.5;
    margin-right:2%;
}

.galleryList:hover {
	opacity: 1;
	z-index: 2;
	/*opacity: 0.5;*/
}